/*default text styles*/
html {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  margin: 0;
}

.light {
    color: #FFFAF0;
}

.dark {
  color: #151515;
}

h1 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: underline;
  padding-top: 1em;
}
h3 {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: normal;
}
h4 {
  font-size: 1em;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: .5em;
}
h5 {
  font-size: 1.5em;
  margin-bottom: 0;
}
button {
  margin:  2em 0;
}


p {
  margin-bottom: .5em;
  line-height: 1.33em;
  font-size: 1.1em;
}
p.bold {
  font-weight: 700;
}
sup a{
  font-size: .75em;
  padding-left: .25em;
  padding-right: .25em;
  margin: 0 .25em;
  color: 	#DC143C;
  background-color: #FFFACD;
  border-radius: 3px;

}
sup a:hover {
  color: #FFFACD;
  background-color: #151515;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}

li {
  font-size: 1.1em;
  line-height: 1.4em;
}


 .case-heading {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #151515;
   height: 50px;
 }



.logo {
  padding-top: 1em;
  padding-bottom: 1em;
  flex-basis: 30%;
  background-color: #151515;
}


p.last {
  padding-bottom: 1em;
  align-self: flex-start;
}
 button {
   border-radius:5px;
   background-color: #2F4F4F;
   padding-bottom: 1em;

 }
 .methodology, .research, .design, .user-heading, .user-columns{
   padding: 1em;
 }
.section-head {
  height: 30px;
  width: 100%;
  display: flex;
  padding: 1em;
  justify-content: center;
  margin-top: -1em;
  margin-bottom: 1em;
  margin-left: -1em;

  background-color: #FFFFE0;
}
/*Methodology*/
.methodology {
  flex-flow: column  wrap;
  background-color: #F0F8FF;
  padding-top: 1em;
}

.methodology p {
  flex-basis: 40%;
}

ul.list {
  padding-left: 40px;
  list-style-position: outside;
}



.methodology p {
  margin-bottom: .25em;
}
.methodology-img {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.methodology-img img {
  padding: 1em;
  width: 30%
  height: 30%;
}
.methodology p, .methodology h3, .methodology h5, .methodology h6, .methodology li, .design p, .design h3, .design h5{
  color: #151515;
}

.sub {
  /*border: 1px #FFFACD;
  border-radius: 5px;
  box-shadow: 5px 2px 2px #b8b8b8;
  background-color: #FFFACD;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0 .25em;
}

/*end methodology*/
/*Research*/
.research {
  flex-flow: column nowrap;
  padding: 1em;
}

.research ul {
  display: flex;
  flex-wrap: wrap;
  padding-right: 1em;
}
.research ul li {
  flex-basis: 80%;
}
.research-images {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  justify-content: center;
}
.research-images img{
  max-width: 60%;
  max-height: auto;
  margin: 1em auto;

}
/*End Research*/
/*Design*/

.design {
  flex-flow: column nowrap;
  padding: 1em;
  background-color: #F0F8FF;
}
.design h4 {
  flex-basis: 90%;
}
.cases {
  background-color:#F0F8FF;
}
.case {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}
.case p {
  flex-basis: 90%;
}


.design-image {
  max-width: 60%;


}
/*End Design*/
/*User testing*/
.user-test {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
}

.user-test h4 {
  color: #151515;
}
.item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.user-test .item p {
  flex-basis: 80%;
  margin-bottom: 1em;
}
hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.style1 {
    border: 0;
    height: 1px;
    width: 20%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);

}

img.element {
  max-width: 60%;
  height: auto;
  margin-bottom: 1em;
}

/*End User testing*/
/*lessons learned*/
.lessons-learned {
  display:flex;
  flex-flow: column nowrap;
  padding: 1em;
  background-color: #F0F8FF;
}
/*end lessons learned*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #151515;
  height: 40px;
}
/*Media Queries*/
@media (min-width: 768px) {
.intro {
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  justify-content: flex-start;
}


.text {
  background-color: #FFFFFF;
  flex-basis: 60%;
  margin: -1em 0 -1em -1em;
  padding-left: 1em;
  padding-right: 1em;
}
.brand {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  max-width: 40%;
}

.brand:after {
  content: "";
  background: rgba(197, 145, 145, 0.92);
  background-image: url(../images/side-image.jpg);
  opacity: .50;
  background-blend-mode: lighten;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-size:cover;
  margin-bottom: -10em;
  margin-left: auto;
  margin-right: auto;

  padding: 1em 20em 0 1em;
  z-index: -1;
}
.brand img, .brand button {
 align-self: center;
 margin 1em auto;
 padding: 1em 2em;
 max-width: 100%;
 height: auto;
}

.methodology-img img {
  width: 50%;
  height: 50%;
}




.brand img, button {
  margin: 1em 0;
}
button {
  padding: 0 1em;
}

  p.bold {
    margin-bottom: 2em;
  }
  img.element {
    max-width: 40%;
  }
  .methodology {
    display: flex;
    flex-direction: column wrap;

  }
  .method-detail {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
    justify-content: center;
  }
   ul.list {
    display: flex;
    flex-direction: column;

  }
  ul.list li {
    max-width: 24em;
  }
  ul.research li {
    max-width: 80%;
  }

  .methodology-img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

}
.methodology-img img {
  max-width: 150px;
  height: auto;
  padding: 0;
}


hr {
  visibility: hidden;
}
.research-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
img.element {
  max-width: 396px;
  max-height: auto;
  align-self: flex-start;
}






}

/*End Media Queries*/
