/*default text styles*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #151515;
  letter-spacing: 0;
  margin: 0;
}
.active {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.light {
    color: #FFFAF0;
}

.pink {
  color: #E75078;
}
.blue {
  color: #336699;
}
.summary p a:visited {
  color: #9CAA5F;
}

/** buttons **/
button:hover {
  background:rgb(255,255,240);
  color: #336699;
  box-shadow: inset 0 0 0 2px #151515;
}
button, button:focus {
	border: none;
	background: #0F2E42;
	color: #FFFFFF;
	padding: 0 2em;
	font-size: 1em;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
  margin:  1em 0;
}
button {
	border: none;
	background: #0F2E42;
	color: #FFFFFF;
	padding: 5px 2em;
	font-size: 1em;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
  margin:  1em 0;
}
/** end buttons **/
/** text sizing */
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}
h3 {
  font-size: 1.8em;
  margin: 0;
}
h4 {
  font-size: 1.3em;
  font-weight: 700;

}
h4.transform {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}
h4.transform.sum-heading {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 7px;
  margin-bottom: .5em;
}

h5 {
  font-size: 1.4em;
  margin: 5px 0;

}
.test-gradient {
  color: #FFFAF0;
  background: rgba(177,184,142,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(177,184,142,1) 0%, rgba(123,139,45,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(177,184,142,1)), color-stop(100%, rgba(123,139,45,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(177,184,142,1) 0%, rgba(123,139,45,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(177,184,142,1) 0%, rgba(123,139,45,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(177,184,142,1) 0%, rgba(123,139,45,1) 100%);
background: radial-gradient(ellipse at center, rgba(177,184,142,1) 0%, rgba(123,139,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1b88e', endColorstr='#7b8b2d', GradientType=1 );
}
.test-gradient1 {
  color: #151515;
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );}

li span {
  font-weight: 700;
  font-size: 1.2em;
}

p {
  line-height: 1.3em;
  font-size: 1em;
  /*margin-bottom: 1em;*/
}
p.bold {
  font-weight: 700;
}
/*p.dark {
  margin-bottom: 1em;
}*/
p.last {
  padding-bottom: 1em;
  align-self: flex-start;
}
/*text */
/*harmonize nav menu */
nav.menu ul  {
  padding-left: 0;
  /*margin-top: 0;*/
}
ul ul, ul ol, ol ol, ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
ol, ul {
    padding-left: 0;
    margin-top: 0;
}
/* footnotes */
sup a{
  font-size: .75em;
  padding-left: .25em;
  padding-right: .25em;
  margin: 0 .25em;
  color: 	#DC143C;
  background-color: #FFFACD;
  border-radius: 3px;
}
sup a.alt {
  color: #FFFFF0;
  background-color: #151515;
}
sup a:hover {
  color: #FFFACD;
  background-color: #151515;
}
sup a.alt:hover {
  color: #151515;
  background-color: #FFFFF0;
}
a, a.link {
  text-decoration: underline;
}
li {
  font-size: 1em;
}
h2.baloo, h2.hind {
  font-family: 'Baloo', sans-serif;
  font-size: 4em;
  align-self: center;
}
h2.hind {
  font-family: 'Hind', sans-serif;
}

h3.baloo {
  font-family: 'Baloo', sans-serif;
  font-size: 2.5em;
}
.pbp-logo {
  display: block;
  align-self: center;
  margin-top: 2em auto;
}
 #intro{
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: flex-start;

 }
 .brand, .brand1 {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
 .brand:after, .brand1:after {
   content: "";
   background: rgba(148, 128, 194, 0.92);
   background-blend-mode: lighten;
   opacity: .50;
   position:  absolute;
   top: 50px;
   right: 0;
   bottom: 0;
   left: 0;
   background-size:cover;
   height: 410px;
   padding: 0 0 0 0;
   z-index: -1;
 }
 .brand:after {
   background-image: url(../images/yummeatsbackground.png);
   background-blend-mode: lighten;
   margin-top: -10em;
   height: 400px;
 }
 .brand1:after {
     background: rgba(255,0,0,1);
     background-image: url(../images/girlwithwaffle-cropped-1.jpg);
     background-blend-mode: luminosity;
     margin-top: -2em;
     height: 350px;
     background-repeat: repeat-x;
     background-size: cover;
   }
.brand img, .brand1 img {
  max-width: 40%;
  height: auto;
  margin-top: 1em;
}
.detail.white-g, #research {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  background-color: rgba(255,255,255,0);
}
.left, .right {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  margin-bottom: 1em;
}
.right {
  align-items: center;
  justify-content: flex-start;
}
.logos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.summary, .summary-right {
  padding: 1em 0;
}
img.element.proto,img.element.big-element {
  align-self: center;
  margin: 0;
  max-width: 300px;

}
.problem {
  max-width: 17ch;
}

 .section-head {
   height: 60px;
   line-height: 60px;
   color: #484848;
   background-color: #FFFFFF;
   text-align: center;
}
ul.list li {
    margin-bottom: 1em;
}

/*Methodology*/
#methodology, #prototyping, #design {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFAF0;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}
#design {
  padding: 0;
  background-color: rgba(255,255,255,0);
}
.align-center {
  align-self: center;
}

#lessons-learned {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h6 {
  font-size: 1.2em;
  margin: 0;
}

ul.list {
  list-style-position: inside;
  margin-bottom: 1em;
  line-height: 1.3em;
  text-indent: -1.2em;
  padding-left: 1.2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sub {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
/*Research*/
#research {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.single {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}


.summary {
  display: flex;
    justify-content: flex-start;
    flex-flow:column nowrap;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
  }

  figure {
    display: table;
    margin: 0 1em;
    text-align: center;
    padding: .5em;
  }
  figcaption {
    display: table-caption;
    caption-side: bottom;
    font-weight: 700;
  }

.enlarge-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 300px;
    text-align: right;
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,.7)), color-stop(100%, rgba(117,137,12,.7)));
    background: -webkit-linear-gradient(top, rgba(164,179,87,.7) 0%, rgba(117,137,12,.7) 100%);
    background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to bottom, rgba(164,179,87,.7) 0%, rgba(117,137,12,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
    padding: 10px;
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
}
.enlarge-container a {
  text-decoration: none;
}
.enlarge-container a:hover {
  color: #151515;
}
 .img-wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
#methodology h4 {
  align-self: flex-start;
}
/*#user-test h4 {
  color: #151515;
}*/

/*lessons learned*/
#lessons-learned {
  display:flex;
  flex-flow: column nowrap;
  padding: 1em;
  background-color: #FFFAF0;
}
/*end lessons learned*/

footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #0F2E42;
  font-size: .875em;
  height: 80px;
}
footer p {
  font-size: .875em;
  line-height: 1em;
  margin-bottom: 0;
}
/*Media Queries*/
@media (min-width: 768px) {
    h1 {
      margin: 0 1em;
    }
    h4 {
     margin-bottom: 1em;
    }

    p {
      line-height: 1.8em;
      font-size: 1.1em;
      margin-bottom: 1em;
    }

.summary p {
  font-size: 1.2em;
  font-weight: bold;
}
.left {
  width: 40vw;
  padding-right: 1em;
  box-sizing: border-box;
  margin-bottom: 0;
}
.right {
width: 40vw;
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: flex-start;
  /*box-sizing: border-box;*/
  margin-bottom: 0;

}
.section-head {
  padding-left: 10vw;
  text-align: left;
}
/*.large-left, .large-right {
  width: 50vw;
  padding-top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
}
.large-left {
  padding-right: 1em;
  /*padding-left: 10vw;*/

#methodology, #research, #prototyping, #lessons-learned {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em 10vw;
}
#design, #user-test {

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /*padding: 2em 0;*/
}
.logos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

  .single {
    align-items: center;
    padding: 1em 10em;
  }
  /*h2.bold {
    margin-right:auto;
    margin: 1em 0;
    align-self: flex-start;
  }*/
    .brand1 {
      height: 350px;
      justify-content: center;
    }




 .sub {
    margin: 0;
    padding: 0;
  }

  .brand  {
    justify-content: center;
    height: 350px;
  }

  /*img.logo {
    align-self: flex-end;
    margin: 0 1em 0 0;
  }*/
  .brand:after, .brand1:after {
    height: auto;
  }
  .brand:after {
    background-image: url(../images/side-image.jpg);
  }
  .brand1:after {
    height: 400px;
    margin-top:-1em;
    background-size: contain;
  }
  .brand img, .brand button {
   align-self: center;
   margin: 1em auto;
   padding: 1em 2em;
   max-width: 100%;
   height: auto;
  }
  p.bold {
    margin-bottom: 2em;
  }

  .method-detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 2em;
    justify-content:space-between;
  }
   ul.list {
     list-style-position: inside;
     padding-left: 1.3em;
  }
  ul.list li {

    margin-bottom: .6em;
    text-indent: -1.3em;
  }
   h4 {
    margin-top: 0;
    margin-bottom: 1em;
  }



  #intro {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    /*padding: 2em 0;*/
  }
  .detail.white-g {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    max-width: 100vw;
    padding: 2em 10vw;

  }
.row {
  display: flex;
}
.summary.summary-header {
    display: flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    padding:5em 3em;
    /*padding-left: 10vw;
    padding-top: 2em;*/
    /*box-sizing: border-box;*/
  }
  /*.summary.summary-header {
      justify-content: center;
      align-items: center;
      /*padding: 4em;*/
    }*/
  .summary-right {
    padding: 2em 10vw 0 1em;
  }*/
  h4.tag {
  font-size: 3em;
  margin-top: 1em;
}
.center {
  margin: 0 auto;
}

/*
h6.caption {
  padding: 5px;
  background: rgba(164,179,87,1);
  background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,.7)), color-stop(100%, rgba(117,137,12,.7)));
  background: -webkit-linear-gradient(top, rgba(164,179,87,.7) 0%, rgba(117,137,12,.7) 100%);
  background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: linear-gradient(to bottom, rgba(164,179,87,.7) 0%, rgba(117,137,12,.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
  width: 100%;
}*/

  #lessons-learned {
  flex-flow: row wrap;
  justify-content: center;
}

   .item {
    display: flex;
    flex-flow: row nowrap;
    width: 60vw;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 2em;
  }

  .big-element {
    /*max-width: 80%;*/
    margin: 0 auto;
  }
  footer {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    height: 50px;
  }
  footer p {
    font-size: .875;
    line-height: 1em;
    margin-bottom: 0;
  }
}

/*End Media Queries*/
