/*default text styles*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #151515;
  letter-spacing: 0;
  margin: 0;
}
.active {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.dark {
  color: #151515;
  text-decoration: underline;
}

.light {
    color: #FFFAF0;
}

.pink {
  color: #E75078;
}
.blue {
  color: #336699;
}

/** buttons **/
button:hover {
  background:rgb(255,255,240);
  color: #336699;
  box-shadow: inset 0 0 0 2px #151515;
}
button, button:focus {
	border: none;
	background: #0F2E42;
	color: #FFFFFF;
	padding: 0 2em;
	font-size: 1em;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
  margin:  1em 0;
}
button {
	border: none;
	background: #0F2E42;
	color: #FFFFFF;
	padding: 0 2em;
	font-size: 1em;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
  margin:  1em 0;
}
/** end buttons **/
/** text sizing */
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}
h3 {
  font-size: 1.8em;
  margin: 0;
}
h4 {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 1em;
}

h5 {
  font-size: 1.4em;
  margin-bottom: .5em;
}

li span {
  font-weight: 700;
  font-size: 1.2em;
}

p {
  line-height: 1.8em;
  font-size: 1.1em;
  margin-bottom: 1em;
}
p.bold {
  font-weight: 700;
}
p.dark {
  margin-bottom: 1em;
}
p.last {
  padding-bottom: 1em;
  align-self: flex-start;
}
/*text */
/*harmonize nav menu */
nav.menu ul  {
  padding-left: 0;
  /*margin-top: 0;*/
}
ul ul, ul ol, ol ol, ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
ol, ul {
    padding-left: 0;
    margin-top: 0;
}
/* footnotes */
sup a{
  font-size: .75em;
  padding-left: .25em;
  padding-right: .25em;
  margin: 0 .25em;
  color: 	#DC143C;
  background-color: #FFFACD;
  border-radius: 3px;
}
sup a.alt {
  color: #FFFFF0;
  background-color: #151515;
}
sup a:hover {
  color: #FFFACD;
  background-color: #151515;
}
sup a.alt:hover {
  color: #151515;
  background-color: #FFFFF0;
}
a, a.link {
  text-decoration: underline;
}
li {
  font-size: 1em;
}
h2.baloo, h2.hind {
  font-family: 'Baloo', sans-serif;
  font-size: 4em;
  align-self: center;
}
h2.hind {
  font-family: 'Hind', sans-serif;
}

h3.baloo {
  font-family: 'Baloo', sans-serif;
  font-size: 2.5em;
}
.pbp-logo {
  display: block;
  align-self: center;
  margin-top: 2em auto;
}
 #intro {
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-start;
   align-items: flex-start;
 }
 .brand, .brand1 {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }
 .brand:after, .brand1:after {
   content: "";
   background: rgba(148, 128, 194, 0.92);
   background-blend-mode: lighten;
   opacity: .50;
   position:  absolute;
   top: 50px;
   right: 0;
   bottom: 0;
   left: 0;
   background-size:cover;
   height: 410px;
   padding: 0 0 0 0;
   z-index: -1;
 }
 .brand:after {
   background-image: url(../images/yummeatsbackground.png);
   background-blend-mode: lighten;
   margin-top: -10em;
   height: 400px;
 }
 .brand1:after {
     background: rgba(255,0,0,1);
     background-image: url(../images/girlwithwaffle-cropped-1.jpg);
     background-blend-mode: luminosity;
     margin-top: -2em;
     height: 350px;
     background-repeat: repeat-x;
     background-size: cover;
   }
.brand img, .brand1 img {
  max-width: 40%;
  height: auto;
  margin-top: 1em;
}
.detail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0;
  background-color: rgba(255,255,255,0);
}
/*.detail.cream {
  background-color: transparent;
}*/
/*.left, .right {
  margin: 2em 0;
  width: 80vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-grow: 0;
}
.right {
  align-items: flex-end;
}*/

img.element.proto,img.element.big-element {
  align-self: center;
  margin: 0;
  max-width: 300px;

}
.problem {
  max-width: 19ch;
}

 .section-head {
   /*display: flex;
   align-items: center;*/
   height: 60px;
   line-height: 60px;
   color: #484848;
   /*width: 100%;*/
   background-color: #FFFFFF;
   padding-left: 10vw;
}
ul.list li {
    margin-bottom: 1em;
}

/*Methodology*/
#methodology, #prototyping {
  padding: 2em 0;
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFFAF0;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
}
#design {
  background-color: #FFFAF0;
}
#lessons-learned {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
h5, h6 {
  text-align: center;
  margin: 0 auto;
}
h6 {
  font-size: 1.2em;
  margin: 0 auto;
}

ul.list {
  /*list-style-position: outside;*/
  margin-bottom: 0;
  /*margin-right: 1em;
  padding-left: 1em;*/
  line-height: 1.3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.left {
  width: 40vw;
  padding-right: 1em;
  box-sizing: border-box;
}
.right {
width: 40vw;
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: flex-start;

  box-sizing: border-box;
}
.sub {
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
/*Research*/
#research {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}
.single {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}


/*End Research*/
/*Design*/
/*#design, #user-test {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #FFFAF0;
}*/
#design p, #design img{
  padding: 0 2em 0 0;
}
.enlarge-container {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    background: #c1c1c1;
    padding: 10px;
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
}

.img-wrapper {
    position: relative;
}




 h4 {
  margin-bottom: 1em;
}


#methodology h4 {
  align-self: flex-start;
}
#user-test h4 {
  color: #151515;
}

/*img.element {
  margin-bottom: 0;
}*/

/*End User testing*/
/* prototype*/
/*#methodology .detail .cream, #prototyping .detail .left{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /*padding: 2em 1em;*/

.text {

}
/*lessons learned*/
#lessons-learned {
  display:flex;
  flex-flow: column nowrap;
  padding: 1em;
  background-color: #FFFAF0;
}
/*end lessons learned*/

footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #0F2E42;
  font-size: .875em;
  height: 80px;
}
footer p {
  font-size: .875em;
  line-height: 1em;
  margin-bottom: 0;
}
/*Media Queries*/
@media (min-width: 768px) {
    h1 {
      margin: 0 1em;
    }
.summary p {
  font-size: 1.2em;
  font-weight: bold;


}
/*img.element.proto {
  padding-left: auto;
}*/
.section-head {
  padding-left: 10vw;
}
.large-left, .large-right {
  width: 50vw;
  padding-top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
}
.large-left {
  padding-right: 1em;
  /*padding-left: 10vw;*/
}
.large-right {
  /*padding-left: 1em;*/
  /*padding-right: 10vw;*/
}
#methodology, #research, #prototyping, #lessons-learned {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em 10vw;
}
#design, #user-test {
  /*padding: 2em 0;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1em;
}
.logos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
figure {
  display: table;
  margin: 0 1em;
  text-align: center;
  /*width: 100%;*/
  padding: .5em;
}
figcaption {
  display: table-caption;
  caption-side: bottom;
}
/*img.logo {
  padding-right: 2em;
}*/

  /*#research, #prototyping  {
  /*margin-left : 15vw;*/
/*  flex-flow: row wrap;
  justify-content: flex-start;
align-content: flex-start;
}*/

  .single {
    align-items: center;
    padding: 1em 10em;
  }
  h2.bold {
    margin-right:auto;
    margin: 1em 0;
    align-self: flex-start;
  }
    .brand1 {
      height: 350px;
      justify-content: center;
    }

    p {
      font-size: 1.1em;
    }


 .sub {
    margin: 0;
    padding: 0;
  }

  .brand  {
    justify-content: center;
    height: 350px;
  }

  /*img.logo {
    align-self: flex-end;
    margin: 0 1em 0 0;
  }*/
  .brand:after, .brand1:after {
    height: auto;
  }
  .brand:after {
    background-image: url(../images/side-image.jpg);
  }
  .brand1:after {
    height: 400px;
    margin-top:-1em;
    background-size: contain;
  }
  .brand img, .brand button {
   align-self: center;
   margin: 1em auto;
   padding: 1em 2em;
   max-width: 100%;
   height: auto;
  }
  p.bold {
    margin-bottom: 2em;
  }

  .method-detail {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 2em;
    justify-content:space-between;
  }
   ul.list {
     list-style-position: inside;
     padding-left: 1.3em;
  }
  ul.list li {

    margin-bottom: .6em;
    text-indent: -1.3em;
  }
   h4, h5, h6{
    margin-top: 0;
    margin-bottom: 1em;
  }


  #intro {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 2em 0;
  }
  .detail.white-g {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    max-width: 100vw;
    padding: 2em 10vw;
    /*margin-bottom: 2em;*/
  }
   /*#design .left, #design .right {
    display: flex;
    height: 40vw;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 1em;
  }*/
  /*.row {

    display: flex;
    padding-bottom: 2em;
  }*/
.summary {
  display: flex;
    justify-content: flex-start;
    flex-flow:column nowrap;
    align-items: flex-start;
    /*background-color: #FFFAF0;*/
    width: 50vw;
    padding-left: 10vw;
    padding-bottom:7em;
    box-sizing: border-box;

  }
  .summary.summary-right {
    padding-left: 2vw;
    padding-bottom: 7em;

  }
  h4.tag {
  font-size: 3em;
  margin-top: 1em;
}
.center {
  margin: 0 auto;
}


 .img-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
h6.caption {
  padding: 5px;
  background: rgba(164,179,87,1);
  background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,.7)), color-stop(100%, rgba(117,137,12,.7)));
  background: -webkit-linear-gradient(top, rgba(164,179,87,.7) 0%, rgba(117,137,12,.7) 100%);
  background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
  background: linear-gradient(to bottom, rgba(164,179,87,.7) 0%, rgba(117,137,12,.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
  width: 100%;
}

  #lessons-learned {
  flex-flow: row wrap;
  justify-content: center;
}
  /*#design .white-g,  #user-test .white-g {*/
    /*flex-flow: row wrap;
    justify-content: center;
  } */
   .item {
    display: flex;
    flex-flow: row nowrap;
    width: 60vw;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 0 2em;
  }
   /*.item h5 {
    align-self: center;
  }*/
/*#prototyping, #lessons-learned {
  padding: 1em 15vw;
}*/
  .big-element {
    /*max-width: 80%;*/
    margin: 0 auto;
  }
  footer {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 2em;
    align-items: center;
    height: 50px;
  }
  footer p {
    font-size: .875;
    line-height: 1em;
    margin-bottom: 0;
  }
}

/*End Media Queries*/
