/*common text */
html {
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 16px;
}
/***HEADER STYLES ***/
 .heading {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 1em 0;
   position: sticky;
   top:0;
   background-color: #0F2E42;
   height: 40px;
   z-index: 10;
 }
 .white-g {
   background: rgba(255,255,255,1);
   background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
   background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );  font-family: 'Lato', sans-serif;
 }
 .blue-g {
   background: rgba(147,206,222,0.1);
   background: -moz-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,0.1)), color-stop(100%, rgba(73,165,191,0.11)));
   background: -webkit-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: -o-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: -ms-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: linear-gradient(135deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
  }

 h3.logo-text {
   padding: 0 1.5em;
   margin-bottom: 0;
   letter-spacing: normal;
 }
 h3.logo-text a, .heading ul li a{
   text-decoration: none;
 }
 .active {
   color: #FFFFFF;
   border-bottom: 1px solid #FFFFFF;
 }
 a:hover, a.link:hover, a span.dark-icon.fa:hover{
         color: #90A9BA;
 }

 nav {
   display: table;
   margin: 0;
   width: 90%;
 }
 nav ul {
   margin-bottom: 0;
   list-style: none;
   padding-right: 1em 0;
   text-align: center;
 }
 nav ul li {
   display: inline;
   color: #FFFFFF;
   font-size: 16px;
   font-family: 'Lato', sans-serif;
   margin: 0;
   padding: 1em 1em 0 0;
 }
h3.logo-text {
  font-size: 1em;
  font-family:'Special Elite', cursive;
  padding: 0;
}
a {
  color: #FFFFFF;
}
 /*** END HEADER STYLES ***/

p {
  margin-bottom: .5em;
  line-height: 1.3em;
  font-family: 'Lato', sans-serif;
}
p.light {
  color: #FFFFFF;
}

.made-in {
  font-size: .8em;
}

.name {
  margin-bottom:0;
}

p , p.made-in,  {
    color: #FFFAF0;
    margin-bottom: 0;
}
p.dark.text-center, .made-in {
  margin-bottom: 0;
}


@media (min-width: 768px) {
  nav {
    display: table;
    margin: 0 1.5em 0 auto;
    width: 40%;
    padding-left: 0;

  }
  nav ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-bottom: 16px;
    padding: 1em 1em 0 0;

  }
  .heading {
    flex-flow: row wrap;
    align-items: baseline;
    padding: 1em 0 0 1.5em;
  }

  .links {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    flex-basis: 37%;
  }
}
