/*common text */
html {
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 16px;
}
/***HEADER STYLES ***/
 .heading {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 1.5em 0;
   position: sticky;
   top:0;
   background-color: #151515;
   height: 70px;
   z-index: 10;

 }

 h3.logo-text {
   padding: 0 1.5em;
   margin-bottom: 0;
   letter-spacing: normal;
 }
 h3.logo-text a, .heading ul li a{
   text-decoration: none;
 }
 .active {
   color: #FFFFFF;
   border-bottom: 1px solid #FFFFFF;
 }
 nav {
   display: table;
   margin: 0;
   width: 90%;
 }
 nav ul {
   margin-bottom: 0;
   list-style: none;
   padding-right: 1em 0;
   text-align: center;
 }
 nav ul li {
   display: inline;
   color: #FFFAF0;
   font-size: 16px;
   font-family: 'Lato', sans-serif;
   padding: 1em 1em 0 0;
 }
h3.logo-text {
  font-size: 1em;
  font-family:'Special Elite', cursive;
  padding: 0;
}
a {
  color: #FFFFFF;
}
 /*** END HEADER STYLES ***/

p {
  margin-bottom: .5em;
  line-height: 1.3em;
  font-family: 'Lato', sans-serif;
}

.made-in {
  font-size: .8em;
}

.name {
  margin-bottom:0;
}

p , p.made-in,  {
    color: #FFFAF0;
    margin-bottom: 0;
}
p.dark.text-center, .made-in {
  margin-bottom: 0;
}

.wrapper {
  padding: 0 1em;
  margin-bottom: 6em;
}

@media (min-width: 750px) {



  nav {
    display: table;
    margin: 0;
    width: 30%;
  }
  nav ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    color: #FFFAF0;
    margin-bottom: 0;
    padding: 1em 1em 0 0;
    margin-bottom: 16px;
  }
  .heading {
    flex-flow: row wrap;
    align-items: baseline;
    padding: 1em 0 0 1.5em;
    position: sticky;
    top:0;
    height: 60px;
  }

  .links {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    flex-basis: 37%;
  }
}



@media (min-width: 1000px) {


.wrapper {
  padding: 0 2em;
  /*flex-grow: 1;*/
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
}

}
