/*common text */
html {
  font-family: 'Lato', sans-serif;
}
body {
  font-size: 16px;
  height: 100vh;
}
/***HEADER STYLES ***/
 .heading, .heading-custom {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 1em 0;
   position: sticky;
   top:0;
   left: 0;
   height: 50px;
   z-index: 10;
 }
 .heading {
   background-color: #0F2E42;
 }
 .heading-custom {
   /*background-color: rgba(255,255,255,.9);*/
   background: rgba(237,237,237,0.9);
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.95) 47%, rgba(255,250,240,0.9) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.95)), color-stop(100%, rgba(255,250,240,0.9)));
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.95) 47%, rgba(255,250,240,0.9) 100%);
   background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.95) 47%, rgba(255,250,240,0.9) 100%);
   background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.95) 47%, rgba(255,250,240,0.9) 100%);
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.95) 47%, rgba(255,250,240,0.9) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffaf0', GradientType=0 ); }
 /**** dropdown ****/

 /*.clearfix:after {*/
    display:block;
    clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
    width:80%;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.menu {
    width: 100%;
    margin:0px auto;
}

/*.menu li {
    margin:0px;
    list-style:none;
    color: #FFFFFF;
    display: inline;
}*/
/*.heading-custom > .menu li {
  color: #0F2E42;
}*/

/*.heading-custom .menu a {
    transition:all linear 0.15s;
    color:#0F2E42;
    margin-bottom: 0;
}*/

.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#0F2E42;
}
.heading-custom ul.clearfix a {
  text-decoration: none;
  color: #0F2E42;
  position: relative;
  padding: 16px 7px;
  border-top: 2px solid #0F2E42;
  border-bottom: 2px solid #0F2E42;
  transition: padding .3s,border-color .3s;
}

.heading-custom ul.clearfix a:focus, .heading-custom ul.clearfix a:hover {
  padding: 5px 7px;
  border-color: #0F2E42;
  outline: none;
}

.heading-custom ul.clearfix a::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  color: rgba(255,255,255,0);
  border-left: 2px solid #0F2E42;
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

.heading-custom ul.clearfix a::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  max-height: 0;
  color: #0F2E42;
  border-right: 2px solid #0F2E42;
  content: attr(data-text);
  transition: max-height .3s,border-color 0s;
}

.heading-custom ul.clearfix a:focus::before, .heading-custom ul.clearfix a:hover::before, .heading-custom ul.clearfix a:focus::after, .heading-custom ul.clearfix a:hover::after {
  max-height: 100%;
  transition-delay: .28s;
  border-color: #0F2E42;
}

/*.menu .arrow {
    font-size:11px;
    line-height:0%;
}*/

/*----- Top Level -----*/
.menu > ul > li {
    float: none;
    display:inline-block;
    position:relative;
    font-size:16px;
}

/*.menu > ul > li > a {
    padding: 2px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}*/

.menu > ul > li:hover > a, .menu > ul > .current-item > a {
  /*background: rgba(54,113,168,1);*/
  /*background: -moz-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,113,168,1)), color-stop(52%, rgba(15,46,66,1)), color-stop(97%, rgba(15,46,66,1)), color-stop(100%, rgba(15,46,66,1)));
  background: -webkit-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
  background: -o-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
  background: -ms-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
  background: linear-gradient(to bottom, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3671a8', endColorstr='#0f2e42', GradientType=0 );*/
}

/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 ul.sub-menu {
    width:160%;
    padding:10px 0;
    margin-left: 0;
    position:absolute;
    margin-top:5px;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background: rgba(54,113,168,1);
    background: -moz-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(54,113,168,1)), color-stop(52%, rgba(15,46,66,1)), color-stop(97%, rgba(15,46,66,1)), color-stop(100%, rgba(15,46,66,1)));
    background: -webkit-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
    background: -o-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
    background: linear-gradient(to bottom, rgba(54,113,168,1) 0%, rgba(15,46,66,1) 52%, rgba(15,46,66,1) 97%, rgba(15,46,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3671a8', endColorstr='#0f2e42', GradientType=0 );
  }

.sub-menu li {
    display:block;
    font-size:16px;
    padding: 5px;
}

.sub-menu li a {
    display:block;
    color: #FFFFFF;
    padding: 5px;
}

.sub-menu li a:hover, .sub-menu .current-item a {
    color:#0F2E42;
    background: #FFFFFF;
}
/*** end drop down ***/
 .white-g {
   background: rgba(255,255,255,1);
   background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
   background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );  font-family: 'Lato', sans-serif;
 }
 .blue-g {
   background: rgba(147,206,222,0.1);
   background: -moz-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(147,206,222,0.1)), color-stop(100%, rgba(73,165,191,0.11)));
   background: -webkit-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: -o-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: -ms-linear-gradient(-45deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   background: linear-gradient(135deg, rgba(147,206,222,0.1) 0%, rgba(73,165,191,0.11) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
  }

 h3.logo-text {
   padding: 0 1.5em;
   margin-bottom: 0;
   letter-spacing: normal;
 }
 h3.logo-text a, .heading ul li a{
   text-decoration: none;
 }
 .active {
   color: #FFFFFF;
   border-bottom: 1px solid #FFFFFF;
 }
 /*a:hover, */
 a.link:hover, a span.dark-icon.fa:hover{
         color: #90A9BA;
 }

 nav.menu {
   display: table;
   margin: 0;
   width: 100%;
 }
 nav.menu ul {
   margin-bottom: 0;
   list-style: none;
   text-align: center;
 }
 nav.menu ul li {
   display: inline;
   color: #0F2E42;
   font-size: 16px;
   font-family: 'Lato', sans-serif;
   margin: 0;
   padding: 0 5px;
 }
h3.logo-text {
  font-size: 1em;
  font-family:'Special Elite', cursive;
  padding: 0;
}
a {
  color: #FFFFFF;
}
 /*** END HEADER STYLES ***/

p {
  margin-bottom: .5em;
  line-height: 1.3em;
  font-family: 'Lato', sans-serif;
}
p.light {
  color: #FFFFFF;
}

.made-in {
  font-size: .8em;
}

.name {
  margin-bottom:0;
}

p , p.made-in,  {
    color: #FFFAF0;
    margin-bottom: 0;
}
p.dark.text-center, .made-in {
  margin-bottom: 0;
}


@media (min-width: 768px) {
  .menu-wrap {
    width: 40%;
  }
  nav.menu {
    display: inline;
    margin: 0 0 0 auto;
    width: 100%;
    padding-left: 0;

  }
  nav.menu ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }
  nav.menu ul li {
    display: inline;
    /*margin-bottom: 16px;*/
    /*padding: 1em 1em 0 0;*/

  }
  .heading, .heading-custom {
    flex-flow: row wrap;
    padding: 0 0 0 1.5em;
  }
  .heading-custom {

  }

  .links {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    flex-basis: 37%;
  }
}
