/* background image styles */
body.front {

   color: #333;

   background: #ffffff url("../images/wrench.jpeg") no-repeat right;

   background-size: 30%;

}
/* end background image styles */

/*text styles*/

a, .fa {
  color: #6542f4;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
    padding-left: 0;

  }

h1, h2, h3,h4, h6, p {
  text-align: center;
}

p.name {
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}
h2, h3, h6 {
  font-weight: 400;
}
h1 {
  margin-top: .3em auto;
  font-weight: 700;
}
h2 {
  margin-top: .1em auto;
}
h3.text-left {
  margin-bottom: .5rem;
}

/* end base text style */
/*hero styles */

.right-header {
  margin-top: 7em;
  text-align: right;
}
/*end hero*/

/*image styles*/
img.last-case {
  margin-bottom: .5em;
}
img.case {
  margin: 1em auto;
  display: block;
}
.row.cases {
  margin-bottom: 1em;
}


/*img.center {
  display: block;
  margin: 0 auto;
}*/
/*end image styles*/


/*utilities*/
.centered {
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}
.text-left {
text-align: left;
}
.slug {
  text-align: center;
}

four.columns.right {
  margin-right: 0;
  padding:0;
  max-width: 275px;
}
ul.socials li {
  text-align: right;
}
 li.last {
  margin-right: 0;
}



footer p {
  margin-bottom: 1.3em;
}
nav {
  margin: 1em auto;
}
.active {
  text-decoration: none;
}

/*form styles*/
input, textarea {
  min-width: 90%;
}


/*case styles*/
ul.toc  {
  list-style-type: none;
  /*display: block'*/
  padding: 0;
  /*overflow: hidden;*/
  background-color: #F1F1F1;
}
ul.toc li {
  display: inline;
}
.toc a{
  display: block;
margin: .5em .5em;
  color: #000;
  /*padding: .5em 1em;*/
  text-decoration: none;
}
.toc a:hover {
    background-color: #555;
    color: white;
}
h4.header {
  margin-bottom: .5rem;
  margin-top: 1rem;
  font-weight: 500;
  text-decoration-style: solid;
  text-decoration: underline;
}

p.text {

  max-width: 75%;
  padding: .5em;
  line-height: 1.75em;
  font-size: 1em;
}
/*.text-container {
  margin: 2em 0;
  padding: 1em 0;
  width: 40em;
}*/



#lead-art {
    margin-top: 20%;
    display: block;
    align: center;

}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}
.row image {
  max-width: 90%;
  float: left;
}
.case-nav p {
  padding-left: 1em;
  display: inline-block;
}


#fn1, #fn2 {
  text-align: left;
  font-size: .75em;
}
hr {
  margin: .5em auto;

}
#footnotes p {
  margin-bottom: .25em;
}
h1.case-name {
  margin-bottom: .25rem;
}

.center {
  text-align: center;
}
 body.front {

    color: #333;

    background: #ffffff url("../images/wrench.jpeg") no-repeat right;

    background-size: 30%;

}

/*case studies*/
.row.last {
  margin-bottom: 2em;
}
.header-row {
  display: table;
}
.header-left {
  display: table-cell;
  vertical-align: top;
}
.header-right {
  display: table-cell;
  vertical-align: middle;
}
.header-right img {
  display: block;
  margin: auto;
}
.header-right h4 {
  text-align: center;
}


/*about */
/*img.mypic {
max-width: 30%;
}*/

/* end about */


/*responsive */
@media (min-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.85rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  p {
    text-align: center;
    line-height: 1.75em;
    margin: auto;
  }
  p.name {
    text-align: left;
  }
  nav.six.columns {
    width: 75%;
    padding-left: 3em;
    margin-left: 1em;
  }


  /*home page images*/
  img.last-case {
    margin-bottom: .5em;
  }
  img.case {
    margin: auto;
    display: block;
  }
  .row.cases {
    margin-bottom: 1em;
  }


footer ul.socials {
  text-align: right;
}

  body.front {

     color: #333;

     background: #ffffff url("../images/wrench.jpeg") no-repeat top -20px right;

     background-size: 30%;

 }
}


@media (min-width: 750px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 2.9rem;
  }
}

@media (min-width: 1000px) {
  /*img {
    max-width: 85%;
    margin: 1.5em auto;
  }*/

}


@media (min-width: 1200px) {}

img.left {
  margin-left: 0;
  display: block;
}
img.right {
  margin-right: 0;
  display: block;
}
