/* background image styles */
body.front {

   color: #333;

   background: #ffffff url("../images/wrench.jpeg") no-repeat right;

   background-size: 30%;

}
/* end background image styles */

/*text styles*/

a, .fa {
  color: #6542f4;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 2em;
    padding-left: 0;

  }

h1, h2, h3,h4, h6, p {
  text-align: center;
}

p.name {
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}
h2, h6 {
  font-weight: 500;
}
h1 {
  margin-top: .3em auto;
  font-weight: 700;
}
h2 {
  margin-top: .1em auto;
}

/* end base text style */
/*hero styles */

.right-header {
  margin-top: 7em;
  text-align: right;
}
/*end hero*/

/*image styles*/
img.last-case {
  margin-bottom: .5em;
}
img.case {
  margin: 1em auto;
  display: block;
}
.row.cases {
  margin-bottom: 1em;
}


/*img.center {
  display: block;
  margin: 0 auto;
}*/
/*end image styles*/


/*utilities*/
.text-left {
text-align: left;
}
.slug {
  text-align: center;
}

four.columns.right {
  margin-right: 0;
  padding:0;
  max-width: 275px;
}
ul.socials li {
  text-align: right;
}
 li.last {
  margin-right: 0;
}



footer p {
  margin-bottom: 1.3em;
}
nav {
  margin: 1em auto;
}
.active {
  text-decoration: none;
}

/*form styles*/
input, textarea {
  min-width: 90%;
}


/*case styles*/
ul.toc  {
  list-style-type: none;
  /*display: block'*/
  padding: 0;
  /*overflow: hidden;*/
  background-color: #F1F1F1;
}
ul.toc li {
  display: inline;
}
.toc a{
  display: block;
margin: .5em .5em;
  color: #000;
  /*padding: .5em 1em;*/
  text-decoration: none;
}
.toc a:hover {
    background-color: #555;
    color: white;
}

p.text {

  max-width: 75%;
  padding: .5em;
  line-height: 1.75em;
  font-size: 1em;
}
.text-container {
  margin: 2em 0;
  padding: 1em 0;
  width: 40em;
}


#banner {
  display: table;
}

#lead-art {
    display: table-cell;
    vertical-align: middle;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.row image {
  max-width: 90%;
  float: left;
}
.case-nav p {
  padding-left: 1em;
  display: inline-block;
}

.lead-art {
  max-width: 200%;
  max-height: 200%;
  margin: auto auto;
  display: block;
}
#fn1, #fn2 {
  text-align: left;
  font-size: .75em;
}
hr {
  margin: .5em auto;

}
#footnotes p {
  margin-bottom: .25em;
}
h1.case-name {
  margin-bottom: .25rem;
}
.center {
  text-align: center;
}
 body.front {

    color: #333;

    background: #ffffff url("../images/wrench.jpeg") no-repeat right;

    background-size: 30%;

}

/*case studies*/
.cases {
  margin-bottom: 2em;
}





/*responsive */
@media (min-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.85rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  p {
    text-align: center;
    line-height: 1.75em;
    margin: auto;
  }
  p.name {
    text-align: left;
  }
  nav.six.columns {
    width: 75%;
    padding-left: 3em;
    margin-left: 1em;
  }


  /*home page images*/
  img.last-case {
    margin-bottom: .5em;
  }
  img.case {
    margin: auto;
    display: block;
  }
  .row.cases {
    margin-bottom: 1em;
  }


footer ul.socials {
  text-align: right;
}

  body.front {

     color: #333;

     background: #ffffff url("../images/wrench.jpeg") no-repeat top -20px right;

     background-size: 30%;

 }
}


@media (min-width: 750px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 2.9rem;
  }
}

@media (min-width: 1000px) {
  /*img {
    max-width: 85%;
    margin: 1.5em auto;
  }*/

}


  /*@media (min-width: 1120px) {

  }*/
/*@media (max-width: 1275px) {
h1, h2, h3 {
  text-align: left;
}
h1.display-1{
  font-size: 2em;
  padding-left: 0;
  }
h2 {
  font-size: 1.5em;
  }
h3 {
  font-size: 1.25em;
  }

}*/
