/*home page styles*/
body {
    background-image: url('../images/home-image-small.jpg');
    background-repeat: repeat;
    background-color: #151515;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(21,21,21,.8);
    position: fixed
    height: 50px;
    width: 100vw;


}
h3.logo-text {
  font-family: 'Special Elite', cursive;
  font-size: 1em;
  letter-spacing: .1px;
  color: #FFFAF0;
  padding: 1em;
  padding-bottom: 0;
}
nav ul {
  display: flex;
  justify-content: center;
}
ul {
  margin-bottom: 0;
}


.container-hero {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*margin-top: 16vh;*/
  text-align: center;
  margin-bottom: 0;
}


h1 {
  font-family: 'Merriweather', serif;
  line-height: 1em;
}

/*.container-hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  text-align: center;
}*/

.content {
  margin-bottom: 1em;
}

h1 {
  text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
  line-height: 1em;
  font-family: 'Merriweather', serif;
}

/*.hero {
  display: table;
}
h1 {
  display: table-cell;
  vertical-align: middle;
}*/
.description {
  font-size: .75em;
}

.important {
  font-size: .75em;
  font-weight: bold;
}

.medium {
  font-size: .875em;
  font-family: 'Merriweather', serif;
}
.normal {
  font-size: .6em;
  font-family: 'Merriweather', serif;
  font-style: italic;
}



ul li {
  display: inline;
}
span.fa {
  color: #FFFAF0;
}

ul.tools li {
  font-family: 'Merriweather', serif;
  font-size: 1.33em;
  /*margin-right: 1.33em;*/
}
ul.tools {
  margin-bottom: .75em;
}
li.first {
  margin-right: 1.33em;
  }
li.middle {
  margin-left: 0;
  margin-right: 0;
}
li.last {
    margin-left: 1.33em;
  }


/*nav text styling*/
nav ul li a{
  font-size:1;
  font-family: 'Lato', sans-serif;
  color: #FFFAF0;
  display: flex;
  align-items: center;


}
/*nav ul {
  align-items: center;
  padding-right:0
  margin-left: auto;
}*/

/*end nav text styling*/

/*end home page styles */

/*default text styles*/
h1, h2,h5, h6 {
  font-family: 'Merriweather', serif;
}

p, li {
  font-family: 'Lato', sans-serif;
  margin-bottom: .3em;
  letter-spacing: .1em;


}
p {
  line-height: 1.3em;


}
.dark {
  color: #151515;
}

p.light a, .light {
  color: #FFFAF0;
}
a {
  text-decoration: none;
}
p.light a:hover {
  color: #DAE4E6;
}
strong {
  font-weight: 700;
  font-family: 'Merriweather', serif;
  font-style: italic;
}

/*end default text styles*/

/*utilities*/
.text-center {
  text-align: center;
}
.center {
  margin: auto;
}
.text-right {
  text-align: right;
}
/*end utilities*/


/*global styles*/
nav ul li {
  display: inline;

}
nav ul li a {
  color: #FFEFD5;
}
nav ul li a:hover {
  color: #DAE4E6;
}
ul.socials li.last {
  margin-right: 0;
  margin-left: 0;
}
ul.socials li.first {
  margin-right: 1em;
  margin-left: 0;
}
ul.socials li {
  margin-right: 1em;
  margin-left: 0;
}
a span.fa:hover {
  color: #DAE4E6;
}
/*a span.dark-icon.fa:hover {
  color: #DAE4E6;
}*/

.made-in {
  font-size: .8em;
}
/*contact and about styles*/


/*.container-inside {
  /*display: flex;
  justify-content: center;
  align-items: flex-end;*/
  /*height: 100vh;
  text-align: center;
}*/
/*.content-inside {
  background-color: #FFFAF0;

  padding: 1em 2em;
  height: 100vh;

}*/

.right{
  padding-right: 0;
  margin-right: 0;
}
footer  {
flex-flow: column;
justify-content: center;
align-items: center;


}

/*end contact and about styles*/


/* Larger than phablet */
@media (min-width: 768px) {
  /*home page styles*/
body {
      background: url(http://takeflight.design/images/home-image.jpg) no-repeat top center;
       /*linear-gradient(#151515 0%, #EEDD94 95%);
       background-color: #F6F6F6;
       background-blend-mode: luminosity;*/
       /*opacity: 90%;
      background-attachment: fixed;
       background-blend-mode: screen, luminosity, lighten;*/

      background-size: cover;
      overflow-x: hidden;
      overflow-y: hidden;

  }
  .header{
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(21,21,21,.8);

  }
  nav ul {
    margin-right: 1em;
  }
  h3.logo-text {
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    letter-spacing: .1px;
    color: #FFFAF0;
    padding: 1em;
    padding-bottom: 0;
  }
  .container-hero {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 16vh;
    text-align: center;
    margin-bottom: 0;
  }



  h3.logo-text {
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    letter-spacing: .1px;
    color: #FFFAF0;
    padding: 1em;
    padding-bottom: 0;
  }
  /* new stuff */
nav ul {
  display: inline-flex;
  align-items: center;
  font-size: 1em;
}
/*ul.light.text-center {
  display: table;
  width: 100%;
}

ul.light.text-center li {
  display: table-cell;
  width: 33.3%;
}*/

  /*.content {
    margin-bottom: 2em;
  }
  h1 {*/
    line-height: 1.5em;
  }
  .important {
    font-size: 1.66em;
  }
  .description, .medium {
    font-size: 1.33em;
  }
  .normal {
    font-size: 1.2em;
  }
  p {
    margin-bottom: .5em;
  }
  footer  {
    display: flex;
  justify-content: space-between;
  align-items: center;

  }

}
