/*home page styles*/
html {
    background-color: #FFFAF0;
    font-family: 'Lato', sans-serif;


}
body {

  /*display: flex;
  flex-flow: column ;
  align-content: space-between;*/
}


footer {
  flex-direction: column;
  background-color: #151515;
  position: fixed;
  min-height: 40px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0 0 0;
  flex-grow: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding-bottom: .5em;
}
.socials p {
  padding-right: 1em;
  margin-bottom: 0;
}
p.last-social {
  padding-right: 0;
}


.text-head {
  display: flex;
  flex-wrap: wrap;
}
.text-head h3 {
  flex-basis: 100%;
}


img {
max-width: 173px;
height: auto;
padding: .5em;

}


h1, h2, .text-head h3 {
  font-family: 'Merriweather', serif;
  line-height: 1.25em;
}

.content {
  margin-bottom: 1em
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700px;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.description {
  font-size: .75em;
}

.important {
  font-size: .75em;
  font-weight: bold;
}

.medium {
  font-size: .875em;
  font-family: 'Merriweather', serif;
}
.normal {
  font-size: .6em;
  font-family: 'Merriweather', serif;
  font-style: italic;
}

/*ul li {
  display: inline;
}*/
span.fa {
  color: #FFFAF0;
}



a {
  color: #FFFAF0;
}


.active {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
/*end nav text styling*/


.dark {
  color: #151515;
}
h4 {
  font-style: italic;
  font-family: 'Lato', sans-serif;
}
p.light a, .light {
  color: #FFFAF0;
}
a {
  text-decoration: none;
}

strong {
  font-weight: 700;

}
a:hover {
  color: #DAE4E6;
}
/*end default text styles*/


.center {
  margin: auto;
}
.text-right {
  text-align: right;
}
.lastp {
  margin-bottom: 0;
}
/*end utilities*/




a span.dark-icon.fa:hover {
  color: #DAE4E6;
}


/*contact and about styles*/
/*form styles*/
input[type=text],  input[type=email], input[type=tel], textarea{
  border-radius:10px;

}
input[type=text]:hover,  input[type=email]:hover, input[type=tel]:hover, textarea:hover{
  /*border-radius:10px;*/
  border-color: #151515;
}

.container-form{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
  padding: 1em;
  justify-content: flex-start;
  align-items: flex-start;
}

img.center {
  align-self: center;
  margin: 1em 0;
}
.formfieldset  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 80%;

}
label {

  flex-basis: 8em;
}
textarea, input {


  flex-basis: 2;
}
button.button-primary {
margin: 1em 0 0;
border-color: #151515;
background-color: #151515;
color: #FFFAF0;
flex-shrink: 1;
flex-basis: 70%;


}
button.button-primary:hover {
  color: #151515;
  background-color: #FFFAF0;
  border: 1px solid #151515;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  text-transform: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}
.comments-submit {
  display: flex;
  flex-wrap: wrap;

}


@media (min-width: 750px) {


      .heading {
        flex-flow: row wrap;
        align-items: baseline;
        padding: 1em 0 0 1.5em;
        position: sticky;
        top:0;
        height: 60px;

      }
.container-form.about{
  flex-flow: row wrap;
  padding: 0
}
button.button-primary {
flex-basis: 100%;
}
textarea, input {
  flex-basis: 90%;
}
  footer {
 flex-direction: row;
 bottom: 0;
 margin-bottom: 0;
 padding-left: 2em;
 padding-right: 2em;
}
  .socials {
    margin-right: 4em;
  }

  .text-head {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: baseline;
  }
.one-column {
  display: flex;
  flex-flow: row wrap;
  padding: 0 6em;
}
.about-text {
  flex: 3;
  margin-right: 3em;
}
img.center {
  flex: 2;
  padding:0;
  margin: 0;
  align-self: flex-start;
}
img {
    max-width: 230px;
    padding: 0;
  }
}
