/*home page styles*/
html {
    /*background-image: url('../images/home-image-small.jpg');
    background-repeat: repeat;*/
    background-color: #FFFAF0;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}
/*body {*/
  /*display: flex;
  flex-direction: column;
  justify-content: flex-end;
}*/
.wrapper {
  padding: 0 1em;
  margin-bottom: 6em;

  /*flex-grow: 1;*/
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 0 .5em 0;
}
body {
  display: flex;
  flex-flow: column ;
  align-content: space-between;
}

nav {
  background-color: #151515;
  /*height: 50px;*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: .5em;
  margin-bottom: 1em;
}
footer {
  flex-direction: column;
  background-color: #151515;
  position: fixed;
  min-height: 40px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0 0 0;
  flex-grow: 0;
}
.name {
  margin-bottom:0;
}
  p a, p.made-in, a{
  color: #FFFAF0;
  margin-bottom: 0;

}

p.dark.text-center, .made-in {
  margin-bottom: 0;
}
/*nav ul li {
  padding-right: 1em;
}*/

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
.socials p {
  padding-right: 1em;
}
p.last-social {
  padding-right: 0;
}

h3.logo-text {
  font-family: 'Special Elite', cursive;
  font-size: 1em;
  flex-basis: 70%;
  letter-spacing: .15px;
  color: #FFFAF0;
  padding: .5em;
  margin-bottom: 0;
}
.links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
/*nav .links ul {
  /*align-self: center;*/
  /*padding: 0 1em;
  margin-bottom: 0;*/
}
/*nav .links ul li.last a{
  padding-left: 1em;
  padding-right: 0;
}
nav .links ul li.middle a{
  padding-left: 0;
  padding-right: 0;
}*/
li.middle {
  margin: 0;
  padding:0;
}
li {
  margin-bottom: 0;
}


wrapper {
  display: flex;
  flex-wrap: wrap;
}
/*.container-content{
  flex-flow: column wrap;
  margin-bottom: 1em;
  min-height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
  align-items: center;
}*/
.text-head {
  display: flex;
  flex-wrap: wrap;
}
.text-head h3 {
  flex-basis: 100%;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
}
p {
  margin-bottom: .5em;
}
.about-img {
  padding: .5em;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  flex-basis: 60%;
  display: flex;
}
img {
max-width: 173px;
height: auto;
opacity: 0;
}

h1, h2, .text-head h3 {
  font-family: 'Merriweather', serif;
  line-height: 1.25em;
}

.content {
  margin-bottom: 1em
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700px;
}


/*.hero {
  display: table;
}
h1 {
  display: table-cell;
  vertical-align: middle;
}*/
.description {
  font-size: .75em;
}

.important {
  font-size: .75em;
  font-weight: bold;
}

.medium {
  font-size: .875em;
  font-family: 'Merriweather', serif;
}
.normal {
  font-size: .6em;
  font-family: 'Merriweather', serif;
  font-style: italic;
}

ul li {
  display: inline;
}
span.fa {
  color: #FFFAF0;
}

/*ul.tools li {
  font-family: 'Merriweather', serif;
  font-size: 1.33em;
  /*margin-right: 1.33em;*/
}
/*li.first {
  margin-right: 1.33em;
  }
li.last {
  margin-left: 0;
  }*/

/*nav text styling*/
nav ul li a{
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: #FFFAF0;
  /*margin-right: 1em;*/

}

a {
  color: #FFFAF0;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 1em;
  padding-top: 1em;
  justify-content: space-between;

}
.active {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
/*end nav text styling*/

p, li {
  font-family: 'Lato', sans-serif;

}
p {
  line-height: 1.5em;
}

}*/
.dark {
  color: #151515;
}
h4 {
  font-style: italic;
  font-family: 'Lato', sans-serif;
}
p.light a, .light {
  color: #FFFAF0;
}
a {
  text-decoration: none;
}

strong {
  font-weight: 700;

}
a:hover {
  color: #DAE4E6;
}
/*end default text styles*/

/*utilities*/
/*.text-center {
  text-align: center;
}*/
.center {
  margin: auto;
}
.text-right {
  text-align: right;
}
.lastp {
  margin-bottom: 0;
}
/*end utilities*/


/*global styles*/
nav ul li {
  display: inline;

}
/*ul.socials li.last {
  margin-right: 0;
  margin-left: 0;
}
ul.socials li.first {
  margin-right: 1em;
  margin-left: 0;
}
ul.socials li {
  margin-right: 1em;
  margin-left: 0;
}*/

a span.dark-icon.fa:hover {
  color: #DAE4E6;
}

.made-in {
  font-size: .8em;
}
/*contact and about styles*/
/*form styles*/
input[type=text],  input[type=email], input[type=tel], textarea{
  border-radius:10px;

}
input[type=text]:hover,  input[type=email]:hover, input[type=tel]:hover, textarea:hover{
  /*border-radius:10px;*/
  border-color: #151515;
}

.container-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1em;

  /*height: 100vh;*/
  padding: 1em;
  justify-content: flex-start;
  align-items: flex-start;
}
.formfieldset  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 50%;

}
label {
  justify-content: flex-start;
  flex-basis: 10em;
}
textarea, input {
  align-items: flex-start;
  /*margin-left: 1em;*/
  flex-basis: 65%;
}
button.button-primary {
margin: 0;
border-color: #151515;
background-color: #151515;
color: #FFFAF0;
width:200px;
flex-basis: 100%;
}
button.button-primary:hover {
  color: #151515;
  background-color: #FFFAF0;
  border: 1px solid #151515;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  text-transform: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}
.comments-submit {
  display: flex;
  flex-wrap: wrap;

}
@media (min-width: 501px) and (max-width: 749px) {
  nav {
    background-color: #151515;
    /*height: 50px;*/
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    padding-bottom: .5em;
    margin-bottom: 1em;

  }
.logo {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  align-items: center;

}
  /*h3.logo-text {
    flex-basis:100%;
  }*/
links {
  flex-basis: 20%;
  }

}
@media (min-width: 667px){
  img {
     opacity : 1; transition:opacity ease-in-out .25s;
   }
}

@media (min-width: 750px) {
  nav {
    background-color: #151515;
    /*height: 50px;*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding-bottom: 1em;
    margin-bottom: 2em;
  }
  h3.logo-text {
    padding-left: 1em;
  }
  .links {
    padding-right: 1em;
    align-items: center;
    flex-basis: 30%;
    margin-left: 2em;
  }


  footer {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 min-height: 40px;
 width: 100vw;
 position:fixed;
 align-items: center;
 bottom: 0;
 margin-bottom: 0;
 padding-left: 2em;
 padding-right: 2em;
}
.socials {
  margin-right: 4em;
}

  .text-head {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: baseline;
  }


 .about-img {
  display: flex;
  justify-content: center;
  padding-right: 1em;
  padding-top: 2em;
  align-items: center;
}


@media (min-width: 1000px) {


  nav {
    background-color: #151515;
    height: 50px;
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
  }
 /*.logo-text {
    margin-right:auto;
  }*/
  .wrapper {
    padding: 0 2em;
    /*flex-grow: 1;*/
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    /*flex-wrap: wrap;*/


  }

  h3.logo-text {
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    letter-spacing: .1px;
    color: #FFFAF0;
    padding: 1em;
  }
  .links {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;

  }


  .content {
    margin-bottom: 1em
  }
  h1 {
    line-height: 1.5em;
  }

  p {
    margin-bottom: 1em;
  }
  /*.about-text {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 1em;
    flex-basis: 60%;
    /*padding-bottom: 14em;*/
    /*align-items: flex-start;
  }*/
  .text-head {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 0;

  }

  .about-img {
  display: flex;
   justify-content: center;
    /*padding-right: 1em;*/
    align-items: center;
    /*flex: 1;*/
  }
  img {
    max-width: 345px;
    height: auto;
  }
   footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 40px;
  width: 100vw;
  position:fixed;
  align-items: center;
  bottom: 0;
  margin-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
}


  ul {
  display: flex;
  flex-flow: row wrap;
}
  ul li {
  align-content: flex-start;
}
.socials {
  margin-right: 4em;
}


}
