body {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-size: cover;
}

footer {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: .5em 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #0F2E42;;
  height: 50px;
  font-size: .875em;
}
img.center {
  align-self: center;
}

.container-form, .container-about {
  padding-top: 2em;
}
.one-column {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100%-50px);
  margin-bottom: 5em;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin-bottom: 0;
}
.container-form p, .container-about p {
  margin-bottom: 1em;
}
.socials p {
  padding-right: 1em;
  margin-bottom: 0;
}
p.last-social {
  padding-right: 0;
}

.text-head {
  display: flex;
  flex-wrap: wrap;
}
.text-head h3 {
  flex-basis: 100%;
}

img {
  max-width: 173px;
}

h1, h2, .text-head h3 {
  font-family: 'Merriweather', serif;
  line-height: 1em;
}
h1 {
  font-size: 2em;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700px;
}

h4 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

.description {
  font-size: .75em;
}

.important {
  font-size: .75em;
  font-weight: bold;
}

.medium {
  font-size: .875em;
  font-family: 'Merriweather', serif;
}
.normal {
  font-size: .6em;
  font-family: 'Merriweather', serif;
  font-style: italic;
}
span.fa {
  color: #FFFFFF;
}
.active {
  color: #FFFFFF;

}
/*end nav text styling*/

h4 {
  font-style: italic;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.center {
  margin: auto;
}
.text-right {
  text-align: right;
}
.lastp {
  margin-bottom: 0;
}
/*end utilities*/

/*form styles*/
input[type=text],  input[type=email], input[type=tel], textarea{
  border-radius:10px;

}
input[type=text]:hover,  input[type=email]:hover, input[type=tel]:hover, textarea:hover{
  border-color: #151515;
}

.container-form, .container-about{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFF;
  margin: 0 auto;
  padding: 1em 2em;
}
.container-about {
margin-bottom: 5em;}
.container-form{
    height: 100vh;
}
.about-text {
    display: flex;

    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 1em;
}

.formfieldset  {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 80%;
}
label {
  flex-basis: 8em;
}
textarea, input {
  flex-basis: 2;
}
button.button-primary {
margin: 1em 0 0;
border-color: #0F2E42;
background-color: #0F2E42;
color: #FFFFFF;
flex-shrink: 1;
flex-basis: 100%;
}
button.button-primary:hover {
  color: #0F2E42;
  background-color: #FFFFFF;
  border: 1px solid #0F2E42;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  text-transform: inherit;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}
.comments-submit {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 550px) {
  h1 {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
button.button-primary {
  flex-basis: 100%;
}
textarea, input {
  flex-basis: 90%;
}


.container-form, .container-about{
  display: flex;
  flex-flow: column nowrap;
  padding: 2em 2em 3em 2em;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFF;
  width: 50em;
  padding-bottom: 1em;
  margin: 0 auto 50px;
}
.container-about {
  margin-bottom: 0;
  padding-bottom: 0;
}

  .text-head {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: baseline;
  }
.about-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 1em;
}

img.center {
    margin: 0 auto;
}
img.center {
    max-width: 230px;
    padding: 0;
  }
    footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    background-color: #0F2E42;
    height: 50px;
    bottom: 0;
    left:0;
    right:0;
    position: fixed;
  }


  .left {
    padding-left: 4em;
  }
  .center {
    margin: 0 auto;
  }
  .right {
    padding-right: 4em;
  }

}
